.group-analytics-layout {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* right section */
.group-analytics-layout .right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 48%;
  min-width: 500px;
}

.group-analytics-layout .right-section .inbound-calls {
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.group-analytics-layout .right-section .calls-answered {
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  min-width: 420px;
}

/*  */

.group-analytics-layout .calls-answered{
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calls-answered h2 {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 20px;
  color: #094546;
}


.calls-answered-dropdown{
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 20px;
}

/* left section */
.group-analytics-layout .calls-flow-section {
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 48%;
  min-width: 420px;
}

.group-analytics-layout .calls-flow-section{
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 48%;
  min-height: 450px;
  min-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calls-flow-section h2 {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 20px;
  color: #094546;
}